body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: wheat;
}

.content {
    max-width: 800px;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #fff;
}

.content table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
}

a {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 20px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

input {
    padding: 10px;
    margin: 5px;
    border: solid 1px #ccc;
    border-radius: 10px;
}

#btn-add {
    background-color: rgb(7, 161, 7);
    color: #fff;
    cursor: pointer;
}

#btn-add:hover {
    background-color: green;
}